## Import libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

## Extracting and Parsing Data from URL

In [2]:
URL = 'http://www.millenniumcricketleague.com/Home/PreviousSeason.aspx'
page = requests.get(URL)

soup = BeautifulSoup(page.content, 'html.parser')
table = soup.find('table')

In [3]:
table_data= table.find_all('tr')
x=table_data[0].find_all("tr")

In [4]:
headings=[]
for i in x[0].find_all("th"):
    headings.append(i.text.replace('\n', ' ').strip())

In [5]:
headings

['Year', 'Division', 'No Of Teams', 'Champion', 'RunnerUp', '', '']

In [6]:
headings = [ elem for elem in headings if elem != ""]

In [7]:
for h3 in table_data[0].find_all("h3"):
    if h3.text.replace('\n', ' ').strip()== "Forty 40":
        Forty_40_data=table_data[0].find(id= "ctl00_MainContent_rptSeason_ctl00_grdPreviousSeasons")

    elif h3.text.replace('\n', ' ').strip()== "Twenty 20":
        Twenty_20_data=table_data[0].find(id= "ctl00_MainContent_rptSeason_ctl01_grdPreviousSeasons")

In [8]:
Forty_40_table_data=[]
Twenty_20_table_data =[]

for tr in Forty_40_data.find_all("tr"):
    t_row = {}
    for td, th in zip(tr.find_all("td"), headings):
        t_row[th] = td.text.strip()

    Forty_40_table_data.append(t_row)
df_Forty_40_table_data= pd.DataFrame(Forty_40_table_data)

for tr in Twenty_20_data.find_all("tr"):
    t_row = {}
    for td, th in zip(tr.find_all("td"), headings):
        t_row[th] = td.text.strip()

    Twenty_20_table_data.append(t_row)
df_Twenty_20_table_data= pd.DataFrame(Twenty_20_table_data)

In [9]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)

# Data Cleaning

### Forty 40

In [10]:
df_Forty_40_table_data=df_Forty_40_table_data.drop(df_Forty_40_table_data.index[0])
df_Forty_40_table_data=df_Forty_40_table_data.sort_values(by=['Year'])
df_Forty_40_table_data=df_Forty_40_table_data.reset_index(drop=True)

In [11]:
df_Forty_40_table_data

       Champion Division No Of Teams      RunnerUp  Year
0   NJIT                  2           SPCC          2001
1   NIA                   6           NJIT          2002
2   Piscataway            8           NIA           2003
3   NJIT                  11          SPCC          2004
4   SGCC                  13          ECT           2005
5   Renegades             17          SGCC          2006
6   Renegades             22          Global        2007
7   Global                27          ECT           2008
8   Global       A        14          Rising Stars  2009
9   Warriors     B        14          Prince        2009
10  Global       A        14          SGCC          2010
11  Gladiators   B        15          SPCC          2010
12  Global       A        16          ECT           2011
13  JCavs        B        17          Edison        2011
14  Indians      B        17          Warriors      2012
15  Rebels       A        16          ECT           2012
16  Global       A        16          SGCC          2013
17  StumpErZ     B        21          Parsippany    2013
18  Global       A        16          SGCC          2014
19  HRCC         B        22          Stars CC      2014
20  Cavaliers    A        16          Global        2015
21  CricMax      B        20          Indus         2015
22  Global       A        16          ECT           2016
23  Holmdel      B        21          Giants        2016
24  Global       A        16          ECT           2017
25  Challengers  B        21          Piscataway    2017
26  Cavaliers    A        15          ECT           2018
27  Gladiators   B        18          Stars CC      2018
28  ECT          A        16          Holmdel       2019
29  Global       B        16          Rebels        2019

### Twenty 20

In [12]:
df_Twenty_20_table_data=df_Twenty_20_table_data.drop(df_Twenty_20_table_data.index[0])
df_Twenty_20_table_data=df_Twenty_20_table_data.reset_index(drop=True)

In [13]:
df_Twenty_20_table_data

     Champion Division No Of Teams     RunnerUp  Year
0   Renegades           14          Stars CC     2006
1   Global              18          CricMax      2007
2   Stars CC            21          CricMax      2008
3   Global     A        24          Warriors     2009
4   Rebels     Z        22          Global       2010
5   Global     Z        28          Rebels       2011
6   Global     Z        28          Indians      2012
7   Global     Z        25          DCASluggers  2013
8   Global     Z        32          Rebels       2014
9   Global     Z        28          Holmdel      2015
10  Holmdel    Z        25          Ceylon CC    2016
11  ECT        Z        22          Ceylon CC    2017
12  ECT        Z        21          UNITED       2018
13  ECT        Z        18          Cavaliers    2019

In [14]:
writer = pd.ExcelWriter('Scraped_Data_previous_season.xlsx')

In [15]:
df_Forty_40_table_data.to_excel(writer, sheet_name='Sheet1', index=False)
df_Twenty_20_table_data.to_excel(writer, sheet_name='Sheet2', index=False)

In [16]:
writer.save()